AUTH0_DOMAIN="[AUTH0_DOMAIN]"
AUTH0_AUDIENCE="[AUTH0_AUDIENCE]"
AUTH0_M2M_DOMAIN="[AUTH0_M2M_DOMAIN]"
AUTH0_M2M_AUDIENCE="[AUTH0_M2M_AUDIENCE]"
MASTRA_DB_CONNECTION="[MASTRA_DB_CONNECTION]"
MASTRA_DB_SCHEMA="[MASTRA_DB_SCHEMA]"
TC_API_BASE="[TC_API_BASE]"
PORT="[PORT]"
OLLAMA_API_URL="[OLLAMA_API_URL]"
DISABLE_AUTH="[DISABLE_AUTH]"
SKILL_MATCHING_SEMANTIC_THRESHOLD="[SKILL_MATCHING_SEMANTIC_THRESHOLD]"
M2M_AUTH_CLIENT_ID="[M2M_AUTH_CLIENT_ID]"
M2M_AUTH_CLIENT_SECRET="[M2M_AUTH_CLIENT_SECRET]"
M2M_AUTH_PROXY_SERVER_URL="[M2M_AUTH_PROXY_SERVER_URL]"
M2M_AUTH_URL="[M2M_AUTH_URL]"
M2M_AUTH_DOMAIN="[M2M_AUTH_DOMAIN]"
M2M_AUTH_AUDIENCE="[M2M_AUTH_AUDIENCE]"
WORKSPACE_PATH="[ABS PATH_TO_WORKSPACE_FOLDER]"
WIPRO_API_KEY="[WIPRO_API_KEY]"
LOG_LEVEL="[LOG_LEVEL]"
MASTRA_STUDIO_PATH="[ABS PATH_TO_MASTRA_STUDIO_OUTPUT_FOLDER]"